.container {
  font-family: Verdana, Geneva, sans-serif;
}

.title {
  color: gray;
  text-align: justify;
  text-indent: 3em;
}

.item {
  text-justify: initial;
  text-align: justify;
  text-indent: 3em;
}

table {
  width: 50%;
  border-collapse: collapse;
  empty-cells: show;
  margin: auto;
}

td {
  height: 3em;
}

/* thead tr::before {
  content: "";
} */

/* tbody tr::before { */
  td:first-child::before {
  content: ""; 
  display: block;
  position: static;
  width: 3px;
  height: 50px;
  background-color: green;
}

th, td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}