body {
  background-color: #f3f3f3;
}

#all {
  text-indent: 3.5em;
  color: black;
  height: 40px;
  text-align: left;
}

.container {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-weight: bold;
  overflow-x: auto;
}

th {
  color: gray;
  text-align: left;
  text-indent: 3em;
  width: 50px;
  padding: 0.1em;
}

/* .item {
  text-indent: 3em;
} */

td {
  height: 3em;
  text-indent: 3em;
}

table {
  border-radius: 5px 5px;
  background-color: white;
  border-collapse: collapse;
  width: 100%;
  empty-cells: show;
  margin: auto;
}


tbody td:first-child::before {
  content: ""; 
  display: block;
  position: absolute;
  width: 0.4em;
  height: 3.1em;
  margin-top: -1em;
  margin-left: -0.1em;
  background-color: #c5e3ad;
}

th, td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}